<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section>
      <a href="/justin">Justin</a>
      <a href="/kevin">Kevin</a>
      <a href="/kathleen">Kathleen</a>
      <a href="/holly">Holly</a>
    </section>
    {{{body}}}
  </body>
</html>
